body{
    background-color: rgb(18, 84, 84);
  }
  /* General container styling */
  .container{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
   
  }
  /*Styling for Refresh button*/
  #refreshButton{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color:  rgb(0, 0, 0);
    color: rgb(243, 245, 245);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    font-size: 1rem;
  }
   /*container for player*/
  .container1{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
   
  }
  /* Styling for the win text */
  .text{
    color: rgb(23, 25, 25);
    font-weight: bolder;
    font-size: 6rem;
    font-family:'lobster',cursive;
    
  }
  .container2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
  }
  .text1{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 2rem;
    font-family:monospace;
  }
  #refreshButton:hover {
    background-color: #0f0f0f;
  }